
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to right, rgba(85, 116, 96, 1), rgba(85, 116, 96, 0.8)) 0% 0% no-repeat padding-box;
  }


  .footer-logo {
    width: 100%;
    height: auto;
}